# Docker daemon socket
# only needed for inside docker deploy, running golang process locally should automaticly work
# Linux:    /var/run/docker.sock
# macOS:    /var/run/docker.sock (i saw 4.18 docker desktop has symlink) or /Users/<username>/.docker/run/docker.sock
# Windows:  //./pipe/docker_engine
DOCKER_SOCK=/var/run/docker.sock

# database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=shopshredder
DATABASE_PASSWORD=sandXbox_mrpix2025
DATABASE_NAME=shopshredder
DATABASE_SSLMODE=disable

# api
AUTH_JWT_SECRET=jwtsecret-lol
SERVER_APP_URL=http://localhost:8080
SERVER_ALLOWED_ORIGINS=http://localhost:8000
CONFIG_PATH=config.local.yml

# domains
API_DOMAIN=sandbox-api.zion.mr-pixel.de
WEB_DOMAIN=sandbox.zion.mr-pixel.de
PGADMIN_DOMAIN=database.shopshredder.de

# pgadmin
PGADMIN_DEFAULT_EMAIL=admin@shopshredder.de
PGADMIN_DEFAULT_PASSWORD=einsicherespass

# sandbox url pattern (how spawned sandbox containers are reachable)
SANDBOX_URL_PREFIX=sandbox-
SANDBOX_URL_SUFFIX=.zion.mr-pixel.de

# web frontend API URL
WEB_API_URL=http://localhost:8080
